@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis:wght@200&family=Sacramento&family=Urbanist:wght@100&family=Zeyada&display=swap');
img {
  width: 90%;
  position: left;
}

p {
  text-align: justify;
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
}

.card {
  width: 75vw;
  font-family: "Urbanist", sans-serif;
  background-color: rgba(195, 205, 201,0.9);
}

.text {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size:1.5em ;
 
}

.welcome {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: rgb(228, 196, 189);
    font-size:4em ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.parallax-header {
  background: #000;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(assets/AboutBG.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-container {
  background: #000;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(assets/AboutBG.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.md-background-container {
  background: #000;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(assets/AboutBG.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.header-content {
  padding: 100px 0 150px 0;
}
.header-content-large {
  padding: 200px 0 150px 0;
}

.content {
  margin-top: -80px;
  background-color: white;
  box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.2);
}

.content .left {
  padding-top: 10px;
}

.content .right {
  padding: 0;
}

.lg-container {
  padding: 15%;
}
.md-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 0%;
}
