
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Sacramento&family=Urbanist:wght@100&display=swap');

img {
    width: 90%;
    position: left
}

p {
    text-align: justify;
}

.card {
width: 75vw;
font-family: 'Urbanist', sans-serif;
}

.parallax-header{
  background: #000;

   background: 
   linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8)
   ),
   url(assets/AboutBG.svg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   
}

.background-container {
    background: #000;
height: 100vh;
   background: 
   linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8)
   ),
   url(assets/AboutBG.svg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
  
  
}

.md-background-container {
    background: #000;
height: 100vh;
   background: 
   linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8)
   ),
   url(assets/AboutBG.svg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
  
  
}


.header-content {
    padding: 100px 0 150px 0;
}
.header-content-large {
    padding: 200px 0 150px 0;
}

.content {
    margin-top: -80px;
    background-color: white;
    box-shadow: 0 0 20px -6px rgba(0,0,0,0.2);
}

.content .left {
    padding-top: 10px;
}

.content .right {
    
    padding: 0;
}

.lg-container{
    padding: 15%;
   
}
.md-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0%;
   
}